body {
  background: #42444C;
  background: lightgray;
  font-family: 'Raleway', sans-serif;
}

div.tabComponent {
  height: 250px;
  margin: 0 auto;
  padding: 0 15px 0 0 ;
  position: relative;
  top: -50%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  width: 616px;
}

input {
  display: none;
}

label {
  background-color: #40CCC5;
  background-color: white;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  z-index: 10;
}

label:hover {
  background-color: white;
  color: #42444C;
  color: #40CCC5;
  transition: color 1s;
  -webkit-transition: color 1s;
}

div.content {
  box-shadow: 0 10px 6px -6px #777;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  color: white;
  height: 1px;
  padding: 30px;
  position: absolute;
  top: 19%;
  opacity: 0;
  width: 100%;
}

div.content p {
  opacity: 0;
  left: 0;
}

#slider {
  background-color: transparent;
  border-bottom: 3px solid white;
  border-top: 1px solid white;
  padding: 1.4em 0;
  position: absolute;
  top: 0px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transform: translate(153px, 0px);
  -webkit-transform: translate(153px, 0px);
  width: 150px;
  z-index: 100;
}

label[for="homedecor"] {
  background-color: #FF0D66;
  color: white;
}

label[for="furniture"] {
  background-color: #E80CCC;
  color: white;
}

label[for=kitchen] {
  background-color: #CB00FF;
  color: white;
}

label[for=clearance] {
  background-color: #7F0CE8;
  color: white;
}

label[for=homedecor]:hover {
  background-color: rgba(255, 13, 102, .7);
  color: white;
}

label[for=furniture]:hover {
  background-color: rgba(232, 12, 204, .7);
  color: white;
}

label[for=kitchen]:hover {
  background-color: rgba(203, 0, 255, .7);
  color: white;
}

label[for=clearance]:hover {
  background-color: rgba(127, 12, 232, .7);
  color: white;
}

/*input checked*/

input[type=radio]:checked + .content {
  color: white;
  height: 100%;
  opacity: 1;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

input[type=radio]:checked ~ .content > p {
  opacity: 1;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

[type=radio],#homedecor:checked ~ #slider {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
}

[type=radio],#furniture:checked ~ #slider {
  transform: translate(154px, 0px);
  -webkit-transform: translate(154px, 0px);
}

[type=radio],#kitchen:checked ~ #slider {
  transform: translate(309px, 0px);
  -webkit-transform: translate(309px, 0px);
}

[type=radio],#clearance:checked ~ #slider {
  transform: translate(463px, 0px);
  -webkit-transform: translate(463px, 0px);
}

[type=radio],#homedecor:checked ~ .content {
  background-color: #FF0D66;
}

[type=radio],#furniture:checked ~ .content {
  background-color: #E80CCC;
}

[type=radio],#kitchen:checked ~ .content {
  background-color: #CB00FF;
}

[type=radio],#clearance:checked ~ .content {
  background-color: #7F0CE8;
}
